.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.button {
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 20px 40px;
  background-color: #24ad98;
}

.button:hover {
  color: #24ad98;
  background-color: white;
} /*sprawdzić INPUT zamiast Hover */

@media screen and (max-width: 960px) {
  .container {
    color: red;
  }
}
